apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: eventflow
  labels:
    app: otel-collector
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/component: observability
spec:
  type: ClusterIP
  ports:
    - port: 4317
      targetPort: otlp-grpc
      protocol: TCP
      name: otlp-grpc
    - port: 4318
      targetPort: otlp-http
      protocol: TCP
      name: otlp-http
    - port: 8889
      targetPort: prometheus
      protocol: TCP
      name: prometheus
  selector:
    app: otel-collector
