apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: eventflow
  labels:
    app: frontend
    app.kubernetes.io/name: frontend
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  ports:
    - port: 5173
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: frontend
